 @import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');

 * {
 	box-sizing: border-box;
 	margin: 0;
 	padding: 0;
 	font-family: "Bona Nova SC", serif;
 }

 body {
 	background: linear-gradient(90deg, #89a7e9, #2c33ce);
 }

 .container {
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	min-height: 100vh;
 }

 .page {
 	background: linear-gradient(90deg, #89a7e9, #2c33ce);
 	position: relative;
 	height: 600px;
 	width: 360px;
 	box-shadow: 0px 0px 24px #5C5696;
 }

 .pagecontent {
 	z-index: 1;
 	position: relative;
 	height: 100%;

 }

 .Title {
 	position: relative;
 	align-items: center;
 	justify-content: center;
 	top: 120px;
 	left: 75px;
 	font-size: 27px;
 	text-shadow: 2px 1px rgb(77, 162, 205);


 	color: rgb(8, 71, 159);
 	z-index: 2;
 }

 #image {
 	width: 5px;
 	height: 5px;

 }

 .pagebackground {
 	position: absolute;
 	top: 0;
 	left: 0;
 	right: 0;
 	bottom: 0;
 	z-index: 0;
 	-webkit-clip-path: inset(0 0 0 0);
 	clip-path: inset(0 0 0 0);
 }

 .pagebackgroundShape {
 	transform: rotate(45deg);
 	position: absolute;
 }

 .pagebackground_shape1 {
 	height: 520px;
 	width: 520px;
 	background: #FFF;
 	top: -50px;
 	right: 120px;
 	border-radius: 0 72px 0 0;
 }

 .pagebackground_shape2 {
 	height: 220px;
 	width: 220px;
 	background: #5292df;
 	top: -172px;
 	right: 0;
 	border-radius: 32px;
 }

 .pagebackground_shape3 {
 	height: 540px;
 	width: 190px;
 	background: linear-gradient(270deg, #6389da70, #0844c7);
 	top: -24px;
 	right: 0;
 	border-radius: 32px;
 }

 .pagebackground_shape4 {
 	height: 400px;
 	width: 200px;
 	background: #6692ea;
 	top: 420px;
 	right: 50px;
 	border-radius: 60px;
 }

 .login {
 	width: 320px;
 	padding: 30px;
 	padding-top: 156px;

 }

 .LoginInfo:hover {

 	transform: scale(1.178);
 }

 .LoginField {
 	padding: 20px 0px;
 	position: relative;
 }

 .LoginIcon {
 	position: absolute;
 	top: 30px;
 	color: #7875B5;
 }

 .LoginInfo {
 	border: none;
 	border-bottom: 2px solid #D1D1D4;
 	background: none;
 	padding: 10px;
 	padding-left: 24px;
 	font-weight: 700;
 	width: 75%;
 	transition: .2s;
 	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .LoginInfo:active,
 .LoginInfo:focus,
 .LoginInfo:hover {
 	outline: none;
 	border-bottom-color: #6A679E;
 }

 .LoginSubmit {
 	background: #fff;
 	font-size: 14px;
 	margin-top: 30px;
 	padding: 16px 20px;
 	border-radius: 26px;
 	border: 1px solid #D4D3E8;
 	text-transform: uppercase;
 	font-weight: 700;
 	display: flex;
 	align-items: center;
 	width: 100%;
 	color: #4C489D;
 	box-shadow: 0px 4px 4px #334eba;
 	cursor: pointer;
 	transition: .2s;
 }

 LoginSubmit:active,
 LoginSubmit:focus,
 LoginSubmit:hover {
 	border-color: #6A679E;
 	outline: none;

 }

 Button:hover {
 	transform: scale(1.1578);
 }

 .ButtonIcon {
 	font-size: 24px;
 	margin-left: auto;
 	color: #7875B5;
 }

 .SignUpBtn {
 	position: relative;
 	left: 230px;
 	top: 60px;
 	border: 2px solid white;
 	border-radius: 7px;
 	box-sizing: border-box;
 	margin-top: 5px;
 	padding: 5px;
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	text-transform: uppercase;
 	font-weight: 700;
 	width: 25%;
 	color: #4C489D;
 	box-shadow: 2px 3px 3px #111e20;
 	cursor: pointer;
 	transition: .2s;

 }

 .SignUpBtn:hover {
 	transform: scale(1.28);
 }

 .message {
 	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 	display: flex;
 	color: red;
 	font-weight: bold;
 	padding-left: 20px;
 	padding-right: 20px;
 	position: relative;
 	padding-top: 0px;
 	margin-top: 0px;
 	height: 4px;
 }

 .condition {
 	position: relative;
 	display: flex;
 	left: 200px;
 	top: 60px;
 	font-size: 0.75rem;
 	padding-bottom: 5px;
 	font-weight: 400;

 }
 .RPBtn {
	position: relative;
	left: 15px;
	top: 10px;
	border: 2px solid white;
	border-radius: 7px;
	box-sizing: border-box;
	margin-top: 3px;
	padding: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-weight: 700;
	/* width: 25%; */
	color: #4C489D;
	box-shadow: 2px 3px 3px #111e20;
	cursor: pointer;
	transition: .2s;

}
 .condition1 {
	position: relative;
	display: flex;
	left: 27px;
	top: 8px;
	font-size: 0.75rem;
	padding-bottom: 5px;
	font-weight: 400;

}

.RPBtn:hover {
	transform: scale(1.20);
}
