<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'LoginPageStyle.css' %}">
</head>

<body>

    <div class="container">

        <div class="page">
            <div class="title">
                <h3 class="Title">Akshara</h3>
            </div>
            <div class="pagecontent">

                <form class="login" action="/user/login/" method="post">
                    {% csrf_token %}
                    <div class="LoginField">
                        <i class="LoginIcon_User"></i>
                        <input type="text" class="LoginInfo" placeholder="Username" name="username">
                    </div>
                    <div class="LoginField">
                        <i class="LoginIcon_Lock"></i>
                        <input type="password" class="LoginInfo" placeholder="Password" name="password">
                    </div>
                    <div class="message">
                    {%for message in messages%}
                    <h3 class="msg1">{{message}}</h3>
                    {%endfor%}
                </div>
                    <button class="button LoginSubmit">
                        <span class="ButtonText">LogIn</span>
                        <i class="ButtonIcon_Symbol"></i>
                    </button>
                </form>




                <form action = "/user/signup/" method = "get">
                    {% csrf_token %}
                    <div class="SignUp" >
                        <p class="condition">Don't have an account?</p>
                        <button class="SignUpBtn" type = "submit" value="SIGNUP">
                            <a>Sign Up</a>
                        </button>

                    </div>
                </form>
            </div>

            <div class="pagebackground">
                <span class="pagebackgroundShape pagebackground_shape4"></span>
                <span class="pagebackgroundShape pagebackground_shape3"></span>
                <span class="pagebackgroundShape pagebackground_shape2"></span>
                <span class="pagebackgroundShape pagebackground_shape1"></span>
            </div>
        </div>
    </div>

    <script src="{% static 'LoginPage,Script.js' %}" ></script>
</body>

</html>