<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'LoginPageStyle.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>

<body>

    <div class="container">

        <div class="page">
            <div class="title">
                <h3 class="Title">Akshara</h3>
            </div>
            <div class="pagecontent">

                <form class="login" action="/user/login/" method="post">
                    {% csrf_token %}
                    <div class="LoginField">
                        <!-- <i class="LoginIcon_User"></i> -->
                        <i class="login__icon fas fa-user"></i>

                        <input type="text" class="LoginInfo" placeholder="Username" name="username">
                    </div>
                    <div class="LoginField">
                        <!-- <i class="LoginIcon_Lock"></i> -->
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" class="LoginInfo" placeholder="Password" name="password">
                    </div>
                    
                    <button class="button LoginSubmit">
                        <span class="ButtonText">LogIn</span>
                        <!-- <i class="ButtonIcon_Symbol"></i> -->
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>
                </form>

                <div class="message">
                    {%for message in messages%}
                    <h3 class="msg1">{{message}}</h3>
                    {%endfor%}
                </div>

                <form action="/user/signup/" method="get">
                    {% csrf_token %}
                    <div class="SignUp">
                        <p class="condition">Don't have an account?</p>
                        <button class="SignUpBtn" type="submit" value="SIGNUP">
                            <a>Sign Up</a>
                        </button>

                    </div>
                </form>

                <form action="/user/reset_password/" method="get">
                    {% csrf_token %}
                    <div class="Reset Password">
                        <p class="condition1">Forgot Password?</p>
                        <button class="RPBtn" type="submit" value="SIGNUP">
                            <a>Reset Password</a>
                        </button>

                    </div>
                </form>

            </div>


            <p style = "font-size:15px">Want to view the website without signing in?</p>
            <a href="/../../library/home">Click Here</a>

            <div class="pagebackground">
                <span class="pagebackgroundShape pagebackground_shape4"></span>
                <span class="pagebackgroundShape pagebackground_shape3"></span>
                <span class="pagebackgroundShape pagebackground_shape2"></span>
                <span class="pagebackgroundShape pagebackground_shape1"></span>
            </div>
        </div>
    </div>

    <script src="{% static 'LoginPage,Script.js' %}"></script>
</body>

</html>