<div style="font-weight:bold;font-size:35px;">{% block title %}Reset Password!{% endblock %}</div>

{% block content %}
<p style="font-size:20px;">Forgotten or want to change your password? Enter your email address below, and we'll email you giving instructions to set a new password.</p>

<form method="post">
    {% csrf_token %}
    {{ form.email.errors }}
    <p><label style="font-size:20px;" for="id_email">Email address : </label> {{ form.email }} <input style="font-size:10px;margin-left:5px;" type="submit" value="Send Email" /></p>
</form>
{% endblock %}
