<div style="font-weight:bold;font-size:35px;">{% block title %}Setting new password!{% endblock %}</div>

{% block content %}<div id="content-main">

    <form method="post">
        {% csrf_token %}
        
    <fieldset>
    
    <div>
        {{ form.old_password.errors }}
        <div>{{ form.old_password.label_tag }} {{ form.old_password }}</div>
    </div>
    
    <div>
        {% if form.new_password1.help_text %}
        <div{% if form.new_password1.id_for_label %} id="{{ form.new_password1.id_for_label }}_helptext"{% endif %}>{{ form.new_password1.help_text|safe }}</div>
        {% endif %}
        <div><span style="margin-right:29px;font-size:20px;">New Password : </span>{{ form.new_password1 }}</div>
        <div style="color:red;">{{ form.new_password1.errors }}</div>
    </div>
    
    <div>
        {% if form.new_password2.help_text %}
        <div>{% if form.new_password2.id_for_label %} id="{{ form.new_password2.id_for_label }}_helptext"{% endif %}>{{ form.new_password2.help_text|safe }}</div>
        {% endif %}
        <div><span style="font-size:20px;">Confirm Password : </span>{{ form.new_password2 }}</div>
        <div style="color:red;">{{ form.new_password2.errors }}</div>
    </div>
    
    </fieldset>
    
    <div>
        <input type="submit" value="Change my password" style="font-size:13px;margin-top:3px;">
    </div>
    
    </div>
    </form>
    
    {% endblock %}