<div style="font-weight:bold;font-size:35px;">{% block title %}Password reset email has been sent!{% endblock %}</div>

{% block content %}
<p style="font-size:20px;">We have emailed you the instructions for setting your new password. If an account exists with the email you entered, you should receive it shortly.</p>
<p style="font-size:20px;">If you do not receive an email, please make sure you entered the correct email with which you registered your account, and check your spam folder.</p>
{% endblock %}