*{
    margin:0;
    padding:0;
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    scroll-behavior: smooth;
    
    
}

/* header{
    position: sticky;
    top:0;
} */
.top-bar{
    height:80px;
    background-color: #071952;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color:white;
}

.icon-tag{
    color:white;
    font-size: 17px;
    padding: 5px;
    display: flex;
    gap:0.5rem;
}

.icon-tag-select
{
    color: white;
    background-color: #071952;
    
    font-size: 17px;
    border-radius: 0;
    border: none !important;
    border-color: transparent;
    cursor: pointer;
}

.icon-tag-select:hover{
    color: #37B7C3;
}

.icon-tag:hover{
    border: 2px solid #37B7C3;
    border-radius: 4px;
    color: #37B7C3;
    
}

.logo
{
    object-fit: contain;
    height: 55px;
    width:55px;
    
}

.logo-link{
    color: white;
}

.lib-pic
{
    
    height:75vh;
    width:94%;
    background-image: url(library\ pic.jpg);
    background-size: cover;
    z-index: -1;
    padding: 3%;

    display: flex;
    justify-content: center;
    align-items: center;

    

    
    

}

.lib-aks{
    min-height:40%;
    width: 25%;
    border: 8px solid rgb(237, 188, 98);
    background-color:white ;

    margin-left: -12%;
    z-index: 10;
    


    display: flex;
    justify-content: center;
    align-items: center;
}

.lib-aks-img{
    height:100%;
    width:100%;
    object-fit: cover;
    opacity: 1;


    
}

.lib-aks-img:hover {
    transform: scale(1.15);

}



.appear{
    animation-name:appear;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.slide-in-left{
    animation-name: slideleft;
    animation-duration: 2s;
    
    
}

.slide-in-right{
    animation-name: slideright;
    animation-duration: 2s;
    
    
}

.slide-up{
    animation-name: slideup;
    animation-duration: 2s;
    
    
}

.slide-down{
    animation-name: slidedown;
    animation-duration: 2s;
    
    
}
@keyframes appear {
    
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes slideleft {
    
    0%{
        transform: translateX(-100%);
        opacity: 0;
        
    }

    100%{
        transform: translateX(0);
        opacity: 1;
        
    }
}

@keyframes slideright {
    
    0%{
        transform: translateX(100%);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideup {
    
    0%{
        transform: translateY(100%);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slidedown {
    
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideinleft {
    
    0%{
        transform: translateX(-100%);
        opacity: 0;

        
    }

    100%{
        transform: translateX(0);
        opacity: 1;
        
    }
}

.lib-ct-top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

   

}

.lib-ct-top h1{
    margin-top: -20px;
}



.edu{
    height: 150px;
    width: 150px;

    object-fit: contain;
}

.line{
    height:72%;
    width:20%;
    border: 10px solid black;
    border-left: none;

    margin-left: -10px;
    
}

#lib-logo{

    overflow: auto;
    
    height:85%;
    width:63%;

    padding:5px;
    z-index:1;
    border:none;
    background-color: #2E8A99BC;
    color: ghostwhite;

    margin-left: 20px;

    border-radius: 75px;

    font-size: 2.5rem;
    text-align: justify;

    
   animation-delay: 0s;
}

#lib-logo::-webkit-scrollbar{
    background: transparent;
}

#lib-logo h1{
    text-align: center;
    font-family: "Sacramento", cursive;
    text-decoration: underline;
    text-underline-offset: 10px;
    color: black;
}

#lib-logo h3{
    text-align: center;
    font-weight: 100;
    font-family: "Sacramento", cursive;
    color: black;
}

#lib-logo p{
    margin-top: 35px;
    font-size: 1.52rem;
    padding: 10px;
}
.search-bar{
    
    height: 75px;
    background-color: #0F67B1;
    display: flex;
    justify-content: center;
    align-items: center;

    /* position: sticky;
    top:0;
    z-index:1;
     */
}

.search-box{
    height:50%;
    width:40%;

    font-size: 1rem;
    text-indent: 5px;
    color: black;
    border:none;
    padding: 2px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    
}

.search-icon{
    height:60%;
    width:40px;
    background-color: #071952;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2px;
    color: white;
    font-size: 20px;

    border-left:none;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    
}

.search-box:hover{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    border:3px solid #37B7C3;
    cursor:text;

    
}

.search-icon:hover{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    border:3px solid #37B7C3;
    cursor:pointer;

    color:#37B7C3;
}

/* BOOK SECTION */
.book-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e3dbdb;
}

.bs{
    
    width:90%;
    border: 2px solid black;
    ;
    background-color: white;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    place-items: center;
}
.bs-name{
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}
.box1{
    background-color:#96C9F4;
    height:400px;
    width:100%;
    border:solid 2px black;
    padding:20px 0px 10px;

    
    
}
.box-content{
    
    margin-left: 1em;
    padding-right: 10px;
}
.box-img{
    height:300px;
    width:95%;
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat;
    margin-top: 10px;
    margin-bottom: 35px;
}

.align{
    overflow: auto;

}
.box-content h2::-webkit-scrollbar{
    background: transparent;
}
.box-content h2{
    height:60px;
    
    text-align: center;
    overflow: auto;
}
.box-content h2:hover{
    text-decoration: underline;
    cursor: pointer;
}
.box-content p{
    color: #4A249D;
}
.box-content p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.box2{
    background-color:#E9C46A;
    height:400px;
    width:100%;
    border:solid 2px black;
    padding:20px 0px 10px;

    
}

.box3{
    background-color:#36BA98;
    height:400px;
    width:100%;
    border:solid 2px black;
    padding:20px 0px 10px;
    
}

.just{
    color: #36BA98;
    position:absolute;
}

/* FOOTER */


.foot-panel1{
    height:50px;
    background-color: #49759c;
    color:white;
    display: flex;
    
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.foot-panel1 a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    
}
.foot-panel1 a:hover{
    text-decoration: underline;
}

.foot-panel2{
    height: 100px;
    background-color: #304E67;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: top;
    padding-top: 40px;
    margin-left: -60px;
}

.shift a{
    display: inline;
    margin-right: 50px;
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.ape ,.lsp{
    display: flex;
    flex-direction: column;
    gap: 3%;
    font-size: 15px ;
    margin-top: 5px;
    color: white;
    text-decoration: none;
}

.lsp a{
    color: white;
    text-decoration: none;
}


.foot-panel4{
    background-color: #0f1111;
    height: 40px;
    color: white;
    text-align: center;
    padding-top: 8px;
    font-size: 14px;
    
}

.foot-panel4 a{
    margin-right:35px ;
    margin-top: -30px;
}

@media (max-width: 1200px)
{
    .foot-panel2{
        height: 250px;
        background-color: #304E67;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-left: 5%;
    }

    .shift a{
    display: inline;
    
    color: white;
    font-size: 15px;
    text-decoration: none;
    
}

.foot-panel2 ul p{
    font-size: 15px ;
    
}

.lsp{
    display: flex;
    flex-direction: column;
    gap:7px;
    margin-right: 5%;
}

.ape{
    display: flex;
    flex-direction: column;
    gap:3px;
    margin-left: 5%;
    margin-bottom: 2%;
}
}

@media (max-width:775px)
{
    .shift{
        margin-left: 10%;
    }

    .top-bar{
        height:300px;
        background-color: #071952;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        color:white;
    }

    

    
}

@media (max-width:930px){
    .line{
        display: none;
    }

    .lib-aks{
        display: none;
    }

    #lib-logo{
        height: 70vh;
        width: 70vw;
    }

    .edu{
        display: none;
    }
    .lib-ct-top{
        width: 75vw;
    }
}
/* Base styles for mobile (default) */

/* Tablet styles */
@media (max-width: 576px) {
    .bs{
        
        width:60%;
        border: 2px solid black;
        margin:10px;
        background-color: white;
        padding-left: 2%;
        padding-right: 2%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap:20px;
        place-items: center;
    }
    
    
}
@media (min-width: 577px) {
    .bs{
        
        width:60%;
        border: 2px solid black;
        margin:10px;
        background-color: white;
        padding-left: 2%;
        padding-right: 2%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap:20px;
        place-items: center;
    }

    
}
@media (min-width: 650px) {
    .bs{
        
        width:75%;
        border: 2px solid black;
        margin:10px;
        background-color: white;
        padding-left: 2%;
        padding-right: 2%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:20px;
        place-items: center;
    }
}

/* Desktop styles */
@media (min-width: 962px) {
    .bs{
        
        width:90%;
        border: 2px solid black;
        margin:10px;
        background-color: white;
        padding-left: 2%;
        padding-right: 2%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:20px;
        place-items: center;
    }
}

/* Large desktop styles */
@media (min-width: 1200px) {
    .bs{
        
        width:90%;
        border: 2px solid black;
        margin:10px;
        background-color: white;
        padding-left: 2%;
        padding-right: 2%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap:20px;
        place-items: center;
    }
}